includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 8
    paths:
        - src

    ignoreErrors:

    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    # larastan
    checkGenericClassInNonGenericObjectType: false
