includes:

parameters:
    level: 8
    paths:
        - src

    tmpDir: build/phpstan

    ignoreErrors:
        - identifier: missingType.iterableValue

    errorFormat: ticketswap
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

